.bg-dark{
    background-color: black;
}

.text-white{
    color: white;
}

.custom-image{
    border-radius: 7px;
}

.shopping-cart{
    position: fixed;
    top: 0;
    right: 10px;
}